<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<context:component-scan base-package="com.geva.manningcatcher" />
	
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location">
			<value>classpath:config/context.properties</value>
		</property>
	</bean>

	<bean id="offerConnector" class="com.geva.manningcatcher.dao.MongoManningConnector">
		<constructor-arg index="0" value="${MONGO_OFFERS_COLLECTION}"/>
		<constructor-arg index="1" value="${MONGOLAB_URI}"/>
		<constructor-arg index="2" value="${MONGO_DB}"/>
	</bean>
	
	<bean id="offersCollection" factory-bean="offerConnector" factory-method="connect"/>
	
	<bean id="packConnector" class="com.geva.manningcatcher.dao.MongoManningConnector">
		<constructor-arg index="0" value="${MONGO_PACKS_COLLECTION}"/>
		<constructor-arg index="1" value="${MONGOLAB_URI}"/>
		<constructor-arg index="2" value="${MONGO_DB}"/>		
	</bean>
	
	<bean id="packsCollection" factory-bean="packConnector" factory-method="connect"/>
	
	<bean id="bookConnector" class="com.geva.manningcatcher.dao.MongoManningConnector">
		<constructor-arg index="0" value="${MONGO_BOOKS_COLLECTION}"/>
		<constructor-arg index="1" value="${MONGOLAB_URI}"/>
		<constructor-arg index="2" value="${MONGO_DB}"/>		
	</bean>
	
	<bean id="booksCollection" factory-bean="bookConnector" factory-method="connect"/>
	
	<!-- <bean id="offerWriter" class="com.geva.manningcatcher.dao.write.OfferManningWriter">
		<constructor-arg name="collection" ref="offersCollection"/>
	</bean>
	<bean id="packWriter" class="com.geva.manningcatcher.dao.write.PackManningWriter">
		<constructor-arg name="collection" ref="packsCollection"/>
	</bean>
	<bean id="bookWriter" class="com.geva.manningcatcher.dao.write.BookManningWriter">
		<constructor-arg name="collection" ref="booksCollection"/>
	</bean>

	<bean id="offerReader" class="com.geva.manningcatcher.dao.read.DOTDManningReader">
		<constructor-arg name="urlSource" value="https://manning.com/dotd"/>
		<constructor-arg name="collection" ref="offersCollection"/>
	</bean>
	<bean id="packReader" class="com.geva.manningcatcher.dao.read.PackManningReader">
		<constructor-arg name="collection" ref="packsCollection"/>
	</bean>
	<bean id="bookReader" class="com.geva.manningcatcher.dao.read.BookManningReader">
		<constructor-arg name="collection" ref="booksCollection"/>
	</bean> -->
	
	<!-- <bean id="catcher" class="com.geva.manningcatcher.business.ManningCatcher"/> -->
	
</beans>